<Strong>Editing Book</Strong>

<%= form_with model:@book, local: true do |f| %>
  <h3>Title</h3>
  <%= f.text_field :title %>
  <h3>Body</h3>
  <%= f.text_area :body %>

  <%= f.submit 'Update Book' %>
  <h4>
    <%= link_to "Show", book_path(@book) %>|<!--@モデル名で現在参照しているデータにとぶ-->
    <%= link_to "Back", new_book_path %>  <!--rake routes でurlがわかる-->
  </h4>

<% end %>