<!DOCTYPE html>
<html>
 <head>
    <%= csrf_meta_tags %>
    <div class="update">
      <%=   flash[:notice]  %>
      <%=   flash[:update]  %>
    </div>
    <div class="alert">
      <%=   flash[:alert]  %>
    </div>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
